/*
	Define all the styles needed in the game in this file. 
	If you create multiple themes, this file should have all the "critical" styling and 
	
*/
/* Include Luckiest Guy font */
@font-face {
  font-family: "Luckiest Guy";
  src: url('../fonts/LuckiestGuy.ttf') format('truetype');
}
/* This makes life alot easier */
* {
	box-sizing: border-box;
}

/* 	Take all the space available */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden;
}

.gamearea {
	display:block;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #222;
	overflow: hidden;
}

.normal .startbutton {
	font-family: "Luckiest Guy", Arial, Verdana, Tahoma;
	background-color: rgb(100,100,100);
	border-color: rgb(200,200,200);
	border-image: none;
	border-radius: 0.25em;
	border-style: solid;
	border-width: 5px 5px 8px;
	box-shadow: 0 5px 0 rgba(50, 50, 50, 0.3);
	color: rgb(255,255, 255);
	display: inline-block;
	font-size: 300%;
	font-weight: bold;
	padding: 0.4em 1em;
	text-align: center;
	text-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;

}

.normal .startbutton:active {
	position: relative;
	margin-top: 5px;
	box-shadow: 0px 0px 0px rgba(255,255,255, 0);
}
.snake {
	margin: auto;
	
	
}